.basic-layout {
  display: flex;
  flex-direction: column;

}

.basic-layout-nav {
  flex-grow: 0;
  background-color: #000;
  height: 60px;
  padding: 15px;
}
.logo{
  height: 30px;
  width: 200px;
}


.basic-layout-content {
  flex-grow: 1;
}